.card-window-h{
    margin: 30px 0px 30px 0px !important;
    display: flex;
    width: 100%-100px;
    padding: 20px;
    margin: 5%;
    border-radius: 50px;
    background-image: linear-gradient(to right, #8D169E, ghostwhite, ghostwhite);
    transition: all .5s ease;
}
.card-image{
    align-content: center;
}
.card-image img{
    padding-left: 5%;
    max-width: 80%;
    height: auto;
    object-fit: scale-down;
}
.card-info{
    padding-right: 5%;
    align-self: center;
    color: black !important;
    font-size: 1vw;
}
.card-link{
    text-decoration: none;
    color: black;
}

.card-row{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.card-window-v{
    width: 70%;
    height: 70%;
    padding: 20px;
    border-radius: 50px;
    background-image: linear-gradient(#8D169E, ghostwhite, ghostwhite);
    transition: all .5s ease;
}
.ml{
    margin: 30px 5% 30px 15% !important;
}
.mr{
    margin: 30px 15% 30px 5% !important;
}
.card-image-v{
    align-content: center;
}
.card-image-v img{
    padding-bottom: 5%;
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}
.card-info-v{
    padding-right: 5%;
    padding-left: 15%;
    align-self: center;
    color: black !important;
    font-size: 1.5vw;
}
.card-window-h:hover {
    transform: translate3D(0,-1px,0) scale(1.04);
    transition: all .5s ease;
}
.card-window-v:hover {
    transform: translate3D(0,-1px,0) scale(1.04);
    transition: all .5s ease;
}