li {
    border: none;
    position: relative;
    transition: .5s ease;
    background: transparent;
}
li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 0;
    background-color: ghostwhite;
    transition: .5s ease;
}
li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: ghostwhite;
    transition: .4s ease;
    z-index: -1;
}

li:hover {
    transition-delay: .5s;
}
li:hover::before {
    width: 100%;
}